//colors
$primary: #0F1923;
$body: #696969;
$secondary: #f2f2f2;
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px
// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
@font-face {
  font-family: 'DIN Next Medium';
  src: url("/fonts/DIN Next LT W04 Medium0.ttf");
}
@font-face {
  font-family: 'DIN Next Regular';
  src: url("/fonts/DIN Next W01 Regular0.ttf");
}
@font-face {
  font-family: 'Tungsten';
  src: url("/fonts/Tungsten-Bold.ttf");
}
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $body;
  }

  body,
  html {
    font-family: 'DIN Next Regular';
    font-size: 12px;
    font-weight: 400;
    position: relative;
  }

  body{
    background-color: $secondary;
    background: linear-gradient(90deg, #e8e8e8 .5%, transparent .1%) 1px 0, #f2f2f2;
    background-size: 300px 1px;
    z-index: -100;
  }

  ::selection {
    color: #fff;
    background-color: $primary;
  }

  a {
    text-decoration: none !important;
    color: #000 !important;
  }

h1,h2,{
  font-family: 'Tungsten';
  color: $primary;
  text-transform: uppercase;
}

  h2 {
    font-size: 6rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
  }

  h3 {
    font-size: 3rem;
    font-family: 'Tungsten';
    color: $primary;
    text-transform: uppercase;
  }

  p {
    color: $body;
    font-size: 1.6rem;
    font-family: 'DIN Next Regular';
    line-height: 1.5;
  }

  @media (min-width: 1440px){
    h1{
      font-size: 15.6rem;
    }
  }

  span {
    color: $body;
    font-weight: 700;
    opacity: 1 !important;
  }

  i {
    color: $primary;
    padding-right: 0.7em;
  }

  .briefcase {
    color: $secondary;
  }

  .meta {
    font-size: .9rem;
    letter-spacing: 1.5px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{
    font-size: 1.6rem;
  }

  .wrapper {
    padding: 0 1.5em;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
  }
  @media #{$mq-xxlarge} {
    .container,
    .wrapper{
      max-width: 1500px !important;
    }

    .hero-content {
      max-width: 1200px !important;
    }
  }

  section {
    height: 100vh;
    display: block;
  }

  .nav-container {
    top: 0;
    position: fixed;
    width: 100vw;
    margin: 0 auto;
    position: fixed;
    padding: 1.5em 0;
    background-color: $secondary;
    border-bottom: 1px solid #eee;
    z-index: 20;
    -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.11);
  }




  /*-------------------Navigation-------------------------*/

  header {
    display: flex;
    justify-content: flex-end;
    font-family: 'DIN Next Medium';
  }

  nav{
    margin: 0;
  }

  .logo {
    margin-right: auto;
    width: 70px;
  }

.svg-logo{
  box-shadow: none;
  transition: all ease-in-out 0.5s;
}

.svg-logo:hover{
  transform: scale(1.1);

}

  ul {
    display: flex;

    li a {
      padding: 0 2em;
      opacity: 0.6;
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    .email {
      opacity: 1;
      padding-right: 0 !important;
    }

    .fa-envelope{
      padding-right: 0;
    }

    .active {
      opacity: 1;
      color: $primary !important;
    }
  }

  .last {
    padding-right: 0 !important;
  }
  @media only screen and (max-width: 768px) {
    ul li a {
      padding: 0 1em;
    }
  }

  @media only screen and (max-width: 500px) {
    ul li a {
      padding: 0 1rem;
      font-size: 1.2rem;
    }
    .logo{
      font-size: 1.2rem;
    }
  }
  /*-------------------End Navigation-------------------------*/





  /*-------------------Hero Section-------------------------*/
  .hero-content {
    max-width: auto;
    position: relative;
    top: 49%;
    transform: translateY(-50%);
  }

  .intro {
    font-size: 2rem;
    font-family: 'DIN Next Medium';
    color: $primary;
    text-transform: uppercase;
    margin: 1.5rem 0;
  }

  #intro{
    padding-bottom: 1.5rem;
    max-width: 600px;
  }

  .h1hero {
    font-size: 12rem;
    padding: 0;
    line-height: .86;
  }

  button {
    margin-top: 0;
    font-size: 1.5rem;
    font-family: 'DIN Next Medium';
    padding: 16px 30px;
    border: 1px solid $primary;
    cursor: pointer;
    text-transform: uppercase;
  }

  button::before {
    content: "";
    background: rgba(255, 255, 255, 0.16);
    transform: scaleX(0);
    transform-origin: center right;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  }
  @media only screen and (max-width: 768px) {
    button {
      padding: 18px 64px;
      margin-bottom: 9px;
    }

    .h1hero{
      font-size: 5.5rem;
    }
    h2 {
      font-size: 5.5rem;
    }
    .work-desc{
      padding-bottom: 2rem !important;
    }
  }

  @media (min-width: 1440px){
    .h1hero{
      font-size: 15rem;
    }
  }

  @media (min-width: 1024px){
    .h1hero{
      font-size: 12rem;
    }
  }

  .cta {
    background-color: $primary;
    color: $secondary;
    margin-right: 10px;
  }

  .cta2 {
    border: 2px solid $primary;
    background-color: $secondary;
    color: $primary;
  }
  /*-------------------End Hero Section-------------------------*/




  /*-------------------Work Section----------------------->*/
  .section-intro {
    position: relative;
    top: 15%;
  }

  #work {
    height: 100%;
    padding-top: 8vh;
  }

  .img-fluid::before{
    cursor: pointer;
  }
  /*-------------------End Work Section----------------------->*/






  /*-------------------About Section----------------------->*/
  #about {
    height: auto;
  }

  #about-intro {
    padding-top: 7vh;
  }

  .smspacer {
    padding-top: 2em;
  }

  #XA-link {
    color: $primary;
  }

  .profileimg {
    width: 100%;
    height: auto;
  }

  figcaption {
    text-align: center;
    padding: 1em 0;
    opacity: 0.75;
  }

  footer {
    padding-top: 4em;
    text-align: center;
  }

  .icon {
    font-size: 2rem;
    padding-right: 40px;
  }

  #social{
    font-family: 'Tungsten';
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .iconbar ul li a{
      padding: 0 !important;
      opacity: 1;
  }


  @media (max-width: 768px){
    .iconbar{
      margin-bottom: 2.5rem;
    }
  }
  /*-------------------End About Section----------------------->*/







  @media only screen and (min-height: 768px) {
    .section-intro {
      position: relative;
      top: 0;
    }

    #work {
      height: 100vh;
    }

    #about {
      height: 100vh;
      margin-top: 20vh;
    }
  }
  @media only screen and (max-width: 375px) {
    .hero-content {
      padding-top: 7vh;
    }

    #about {
      height: 100%;
    }

    #work {
      height: auto;
    }
  }
  @media only screen and (max-width: 320px) {
    .hero-content {
      padding-top: 10vh;
    }

    h1 {
      font-size: 1.5em;
    }
  }

  .work {
    max-width: 80%;
    padding-top: 20vh;
    padding-bottom: 2em;
    margin: auto;
  }
  @media only screen and (max-width: 768px) {
    .work {
      max-width: 100%;
    }
  }

  .content-paragraph {
    line-height: 1.7;
    opacity: 0.9 !important;
  }

  .work-heading {
    padding-bottom: 1rem;
    font-size: 4rem;
  }

  .work ul {
    list-style-type: circle;
    display: block;
  }

  hr {
    width: 100%;
    background-color: #b4b4b4;
    height: 1.5px;
    border: none;
    margin: 40px 0;
  }

  .work li {
    margin-bottom: 0.625rem;
    margin-left: 2.5rem;
    line-height: 1.5;
  }

  .xd-link {
    color: blue !important;
  }

  .work img {
    width: 100%;
    margin-bottom: 1.2rem;
  }

  img{
    -webkit-box-shadow: 0px 0px 16px 2px rgba(36,36,36,0.24);
    -moz-box-shadow: 0px 0px 16px 2px rgba(36,36,36,0.24);
    box-shadow: 0px 0px 16px 2px rgba(36,36,36,0.24);
  }

  .hifi {
    -webkit-box-shadow: 0 5px 20px 5px rgba(0,0,0,0.16);
    box-shadow: 0 5px 20px 5px rgba(0,0,0,0.16);
    overflow: hidden;
  }

  .b2t {
    margin-top: 50px;
    text-align: center;
  }

  .project1 {
    background: none;
    background-color: $secondary;
}
