/*font*/
@font-face {
  font-family: "Suisse";
  src: url("/fonts/SuisseIntl-Bold-WebS.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Suisse";
  src: url("/fonts/SuisseIntl-SemiBold-WebS.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Suisse";
  src: url("/fonts/SuisseIntl-Medium-WebS.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("/fonts/TiemposFineWeb-Regular.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #353535;
}

body,
html {
  font-family: "Suisse";
  font-weight: 500;
  position: relative;
  /*
  background-image: url('/img/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  */
}

::selection {
  color: #fff;
  background-color: #024aa3;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

h1 {
  font-weight: 800;
  letter-spacing: -0.4px;
}

h2 {
  font-weight: 700;
  padding-bottom: 1.5em;
}

h3 {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: -0.6px;
}

p {
  opacity: 0.95;
  font-family: "Tiempos Text", sans-serif;
}

span {
  color: #353535;
  font-weight: 700;
  opacity: 1 !important;
}

i {
  color: #024aa3;
}

.meta {
  font-size: 0.8em;
  letter-spacing: 1.5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 0 1.5em;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

section {
  height: 100vh;
  display: block;
}

.container {
  top: 0;
  position: fixed;
  max-width: 1000px;
  margin: 0 auto;
  position: fixed;
  padding: 1.5em 0;
  background-color: white;
  opacity: 0.9;
  z-index: 20;
  padding-right: 1.5em;
}

/*-------------------Navigation-------------------------*/
header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
}

ul {
  display: flex;
}
ul li a {
  padding: 0 2em;
  font-weight: 300;
  opacity: 0.7;
}
ul .email {
  opacity: 1;
}
ul .active {
  opacity: 1;
  color: #024aa3;
}

@media only screen and (max-width: 768px) {
  ul li a {
    padding: 0 1em;
  }
}
li a:nth-last-child {
  padding-right: 0;
}

/*-------------------End Navigation-------------------------*/
/*-------------------Hero Section-------------------------*/
.hero-content {
  max-width: 700px;
  position: relative;
  top: 47%;
  transform: translateY(-50%);
}

.intro {
  font-size: 1.1em;
}

.line {
  width: 60px;
  height: 2px;
  border-bottom: 4px solid #024aa3;
  margin: 1.5em 0;
}

.h1hero {
  font-size: 2.5em;
  margin: 0 0 0.75em;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  body {
    font-size: 0.9em;
  }
}
button {
  margin-top: 0;
  font-size: 1em;
  font-weight: 800;
  padding: 16px 30px;
  border: 1px solid #024aa3;
  cursor: pointer;
}

button::before {
  content: "";
  background: rgba(255, 255, 255, 0.16);
  transform: scaleX(0);
  transform-origin: center right;
  transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}

@media only screen and (max-width: 768px) {
  button {
    padding: 18px 64px;
    margin-bottom: 9px;
  }
}
.cta {
  background-color: #024aa3;
  color: #fff;
  margin-right: 10px;
}

.cta2 {
  border: 1px solid #024aa3;
  background-color: #fff;
}

/*-------------------End Hero Section-------------------------*/
/*-------------------Work Section----------------------->*/
.section-intro {
  position: relative;
  top: 15%;
}

#work {
  height: 100%;
  padding-top: 8vh;
}

.button1 {
  border: 2px solid #024aa3;
  border-radius: 0;
  background-color: transparent;
  padding: 9px 16px;
}

/*-------------------End Work Section----------------------->*/
/*-------------------About Section----------------------->*/
#about {
  height: auto;
}

#about-intro {
  padding-top: 7vh;
}

.textcomp {
  font-family: "Tiempos Text", serif;
}

.smspacer {
  padding-top: 2em;
}

#XA-link {
  color: #024aa3;
}

.profileimg {
  width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
  font-weight: 300;
  font-size: 0.8em;
  padding: 1em 0;
  opacity: 0.75;
}

footer {
  padding-top: 4em;
  text-align: center;
  font-size: 0.8em;
}

.icon {
  font-size: 1.5em;
  padding-right: 20px;
}

/*-------------------End About Section----------------------->*/
@media only screen and (min-height: 768px) {
  .section-intro {
    position: relative;
    top: 0;
  }

  #work {
    height: 100vh;
  }

  #about {
    height: 100vh;
    margin-top: 20vh;
  }
}
@media only screen and (max-width: 375px) {
  .hero-content {
    padding-top: 7vh;
  }

  #about {
    height: 100%;
  }

  #work {
    height: auto;
  }
}
@media only screen and (max-width: 320px) {
  .hero-content {
    padding-top: 10vh;
  }

  h1 {
    font-size: 1.5em;
  }
}
.work {
  max-width: 80%;
  padding-top: 20vh;
  padding-bottom: 2em;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .work {
    max-width: 100%;
  }
}
.content-paragraph {
  font-family: "Tiempos Text", serif;
  font-size: 1.188em !important;
  line-height: 36px !important;
  opacity: 0.9 !important;
}

.work-headings {
  margin: 1.4em 0 0.5em 0;
}

.work ul {
  list-style-type: circle;
  display: block;
}

hr {
  width: 100%;
  background-color: #b4b4b4;
  height: 1.5px;
  border: none;
  margin: 40px 0;
}

.work li {
  margin-bottom: 0.625rem;
  margin-left: 2.5rem;
  line-height: 1.5;
}

.xd-link {
  color: blue !important;
}

.work img {
  width: 100%;
  padding-bottom: 1.2rem;
}

.hifi {
  -webkit-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.b2t {
  margin-top: 50px;
  text-align: center;
}

.project1 {
  background-image: none;
}

/*# sourceMappingURL=main.css.map */
