/*font*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,800&display=swap');
$primary: #0018CE;
$secondary: #fff;
$break-med: 900px;
$break-sml: 440px;
$font-body: 'CeraPro', 'Montserrat';
@font-face {
  font-family: 'CeraPro';
  src: url("fonts/CeraPro-light.ttf") format("truetype");
}
@font-face {
  font-family: 'CeraPro';
  src: url("fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Montserrat";
  position: relative;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 800;
  padding-bottom: 1.5em;
}

h3 {
  font-weight: 800;
  font-size: 1.3em;
}

p {
  font-weight: 300;
  font-family: $font-body;
}

span{
  color: $primary;
}

.meta {
  font-size: 0.8em;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 0 1.5em;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

section {
  height: 100vh;
  display: block;
}

.container {
  top: 0;
  position: fixed;
  max-width: 1000px;
  margin: 0 auto;
  position: fixed;
  padding: 1.5em 0;
  background-color: white;
  opacity: 0.9;
  z-index: 20;
  padding-right: 1.5em;
}

header {
  display: flex;
  justify-content: space-between;
  background: white;
}

.logo {
  font-weight: 800;
}

ul {
  display: flex;

  li a {
    padding: 0 0.6em;
    font-weight: 300;
  }

  .active {
    font-weight: 500;
  }
  @media only screen and (min-width: 768px) {
    li a {
      padding: 0 2em;
    }
  }
}

li a:nth-last-child {
  padding-right: 0;
}

.hero-content {
  max-width: 700px;
  position: relative;
  top: 47%;
  transform: translateY(-50%);
}

.intro {
  font-weight: 300;
  font-size: 1.1em;
}

.line {
  width: 60px;
  height: 2px;
  border-bottom: 4px solid $primary;
  margin: 1.5em 0;
}

h1 {
  font-size: 2.5em;
  margin: 0 0 0.75em;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

button {
  margin-top: 0;
  font-size: 1em;
  font-weight: 800;
  padding: 18px 32px;
  border-radius: 100px;
  border: 1px solid $primary;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  button {
    padding: 18px 64px;
    border-radius: 11px;
    margin-bottom: 9px;
  }
}

.cta {
  background-color: $primary;
  color: $secondary;
  margin-right: 10px;
}

.cta2 {
  border: 1px solid $primary;
  background-color: transparent;
}

.section-intro {
  position: relative;
  top: 15%;
}

#work {
  height: 100%;
  padding-top: 8vh;
}

.button1 {
  border: 2px solid $primary;
  border-radius: 0;
  background-color: transparent;
  padding: 9px 16px;
}

#about {
  height: auto;
}

#about-intro {
  padding-top: 7vh;
}

.smspacer {
  padding-top: 2em;
}

.profileimg {
  width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
  font-weight: 300;
  font-size: 0.8em;
  padding: 1em 0;
}

footer {
  padding-top: 4em;
  text-align: center;
  font-size: 0.8em;
}

.icon {
  font-size: 1.5em;
  padding-right: 20px;
}
@media only screen and (min-height: 768px) {
  .section-intro {
    position: relative;
    top: 0;
  }

  #work {
    height: 100vh;
  }

  #about {
    height: 100vh;
    margin-top: 20vh;
  }
}
